.infos .badge {
  line-height: 30px;
  font-size: 25px;
}

.infos.item-avatar > img:first-child {
  width: auto;
  top: 8px;
  max-height: 20px;
}

.infos button {
  padding: 0;
  min-height: 15px;
}

.infos .col {
  text-align: center;
}

.places .item-thumbnail-left > img:first-child {
  max-height: 40px;
  width: auto;
}

.places .item-thumbnail-left {
  min-height: 60px;
}

.next-step-picture {
  text-align: center;
}

.col .center {
  text-align: center;
}

.next-step-picture button {
  min-height: 100px;
}

.control-speed button {
  min-height: 65px;
}


.next-step-picture img {
  max-width: 300px;
  max-height: 200px;
  width: 100%;
  border: 2px solid gray;
  border-radius: 5px;
  padding : 2px;
}

.track {
  text-align: center;
}

.track .full-image {
  max-height: 300px;
  width: auto;
}

.carlist .row {
  padding: 0;
}

.carlist .row.infos {
  padding: 11px;
}

.carlist .col {
  padding-top: 0;
  padding-bottom: 0;
}

.carlist .col .center {
  padding-bottom: 3px;
}
.carlist .col .center img {
  width: 50%;
}


.carlist .card {
  margin: 5px;
}

.carlist .responsive-md .col {

}

.carlist .item-avatar img {
  border-radius: 0;
}

.pos {
  order-color: #0a9dc7;
  background-color: #11c1f3;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  min-width: 10px;
  padding: 3px 8px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 10px;
}
