<template name="carEdit">
  {{#ionModal customTemplate=true}}
  {{#with car}}
<header class="bar bar-header bar-positive">
  <h2 class="title">Edit car {{cid}} - {{name}}</h2>
  <!-- <button class="button button-block icon ion-arrow-return-left button-calm" ></button> -->
  <div data-dismiss="modal"  class="button button-clear"><span class="icon ion-close"></span></div>
</header>

    <div class="content has-header has-footer overflow-scroll">
    <div class="card">
      <form class="car-name">
        <div class="list list-inset">
          <input type="hidden" value="{{cid}}" name="cid">
          <label class="item item-input">
            <i class="icon ion-android-car placeholder-icon"></i>
            <input type="text" placeholder="Name" name="name" value="{{name}}">
          </label>
        </div>
        <div class="row">
          <div class="col"><button type="submit" class="submit-name button button-block icon ion-android-archive button-calm" ></button></div>
        </div>
      </form>
    </div>
    <div class="card">
      <form class="car-gearbox">
        <div class="list list-inset">
          <input type="hidden" value="{{cid}}" name="cid">
          <div class="gearbox">
            <label class="item item-input">
              <span class="input-label">1st gear</span>
              <input type="text" name="gear1">
            </label>
            <label class="item item-input">
              <span class="input-label">2nd gear</span>
              <input type="text" name="gear2">
            </label>
            <label class="item item-input">
              <span class="input-label">3rd gear</span>
              <input type="text" name="gear3">
            </label>
            <label class="item item-input">
              <span class="input-label">4th gear</span>
              <input type="text" name="gear4">
            </label>
            <label class="item item-input">
              <span class="input-label">5th gear</span>
              <input type="text" name="gear5">
            </label>
            <label class="item item-input">
              <span class="input-label">6th gear</span>
              <input type="text" name="gear6">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col"><button type="submit" class="submit-gearbox button button-block icon ion-android-archive button-calm" ></button></div>
        </div>
      </form>
    </div>
    <div class="card">
      <form class="car-id">
        <div class="list list-inset">
          <input type="hidden" value="{{cid}}" name="cid">
          <div class="gearbox">
            <label class="item item-input">
              <span class="input-label">Car id</span>
              <input type="text" class="id" value="{{cid}}">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col"><button type="submit" class="submit-id button button-block icon ion-android-archive button-calm" ></button></div>
        </div>
      </form>
    </div>
    </div>
  {{/with}}
  {{/ionModal}}
</template>
