<template name="carsList">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="{{pathFor route='index'}}" text="Back"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Cars list</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button icon ion-navicon" data-ion-popover="menuPopover"></button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list carlist">
        <!-- <div class="item item-divider">
          Active cars
        </div> -->
        {{#each activeCars}}
        <div class="card">
          <div class="item item-divider item-avatar infos ">
            <img src="/img/cars/{{image}}" class="preview" />
            <div class="row">
              <div class="col" style="text-align:left;" >
                <span class="cid">{{cid}}</span> - {{name}} <span class="pos">{{rfidAddress}}</span>
              </div>
              <div class="col" style="text-align:right;">
                <button class="reboot-car button button-small button-calm icon ion-refresh">
                  <!-- ion-ios-checkmark-outline -->
                </button>
                <button class="ia-car button button-small button-calm icon ion-social-reddit">
                  <!-- ion-ios-checkmark-outline -->
                </button>
                <button class="select-car button button-small button-calm icon ion-pin">
                  <!-- ion-ios-checkmark-outline -->
                </button>
                <button class="button button-small button-calm icon ion-gear-a" data-ion-modal="carEdit" data-cid="{{cid}}">
                  <!-- ion-ios-checkmark-outline -->
                </button>
                <button class="disconnect-car button button-small button-calm icon ion-ios-trash">
                  <!-- ion-ios-checkmark-outline -->
                </button>
              </div>
            </div>
          </div>
          <div class="item">
              <div class="col">
                <div class="row responsive-md">
                  <div class="col">
                    {{#unless isGameRace}}
                      {{#with getCross}}
                      <div class="row next-step-picture">
                        <div class="col col-center "><button class="left-cross button button-block icon ion-arrow-left-a button-calm" data-cid="{{../cid}}"></button></div>
                        <div class="col col-center "><!-- Next step picture -->
                          {{#with trackConfig}}
                            <img src="/{{publicDirectory}}/{{../crossImage}}">
                          {{/with}}
                        </div>
                        <div class="col col-center "><button class="right-cross button button-block icon ion-arrow-right-a button-calm" data-cid="{{../cid}}"></button></div>
                      </div>
                      {{/with}}
                    {{/unless}}
                    {{#if isGameRace}}
                    <div class="row change-line">
                      <div class="col col-center "><button class="change-line-left button button-block icon ion-arrow-left-a button-calm" data-cid="{{cid}}"></button></div>
                      <div class="col col-center "><button class="change-line-right button button-block icon ion-arrow-right-a button-calm" data-cid="{{cid}}"></button></div>
                    </div>
                    <div class="row change-line">
                      <div class="col">
                        Laps : {{lapsNumber}} / Last lap : 
                      </div>
                    </div>
                    {{/if}}
                  </div>
                  <div class="col"><!-- Control car -->

                   <div class="row control-speed">
                     <div class="col col-center "><button class="speed-minus button button-block icon ion-minus-round button-calm" data-cid="{{cid}}"></button></div>
                     <div class="col col-center center">
                       <img src="/img/gauge/gauge{{speed}}.png">
                     </div>
                     <div class="col col-center "><button class="speed-plus button button-block icon ion-plus-round button-calm" data-cid="{{cid}}"></button></div>
                   </div><!-- row -->
                   {{#if lights}}
                   <div class="row light">
                     <div class="col col-center "><button class="headlight-flash button button-block icon ion-flash button-calm" data-cid="{{cid}}"></button></div>
                     <div class="col col-center "><button class="light-on button button-block icon ion-ios-sunny button-calm" data-cid="{{cid}}"></button></div>
                     <div class="col col-center "><button class="light-off button button-block icon ion-ios-sunny-outline button-calm" data-cid="{{cid}}"></button></div>
                     <div class="col col-center "><button class="warning button button-block icon ion-alert-circled button-calm" data-cid="{{cid}}"></button></div>
                   </div>
                   {{/if}}
                  </div><!-- Control car -->



                </div>
              </div>
              <div class="col">
                <!-- game -->
                {{#if noGame}}
                <div class="row">
                  <div class="col ">
                      <div class="row infos"><!-- Infos -->
                        <div class="col col-center">
                          <button class="button button-stable">
                            {{#with getCountDown}}
                              {{countDownValue}}
                            {{/with}}
                          </button>
                        </div>
                        <div class="col col-center">
                          <button class="button button-assertive">
                            &nbsp;{{amount}} x &nbsp;<i class="icon ion-man"></i>&nbsp;
                          </button>
                        </div>
                      </div><!-- Infos -->
                      <div class="row">
                        <div class="col places">
                          <div class="list">
                            {{#each getPlacesFirst}}
                              <div class="item item-thumbnail-left"><!-- item -->
                                {{#with trackConfig}}
                                  <img src="/{{publicDirectory}}/{{../image}}">
                                {{/with}}
                                <!-- <h2>Backery</h2> -->
                                <span class="badge badge-assertive">
                                  {{placeValue}} x &nbsp;<i class="icon ion-man"></i>
                                </span>
                              </div><!-- item -->
                            {{/each}}
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col places"><!-- Missions -->
                    <div class="list">
                      {{#each getPlacesLast}}
                        <div class="item item-thumbnail-left"><!-- item -->
                          {{#with trackConfig}}
                            <img src="/{{publicDirectory}}/{{../image}}">
                          {{/with}}
                          <!-- <h2>Backery</h2> -->
                          <span class="badge badge-assertive">
                            {{placeValue}} x &nbsp;<i class="icon ion-man"></i>
                          </span>
                        </div><!-- item -->
                      {{/each}}
                    </div>
                  </div><!-- Missions -->
                </div>
                {{/if}}
                <!-- /game -->
              </div>

              <div class="col">
                <!-- Auto judgment -->
              </div>
              <div class="col">
                <!-- Messages -->
              </div>
          </div><!-- item -->
        </div><!-- Card -->
        {{/each}}
        <div class="item item-divider">
          Game status
        </div>
        <div class="col">
          <!-- game -->
          {{#if isGame1}}
          <div class="row">
            <div class="col ">
                <div class="row infos"><!-- Infos -->
                  <div class="col col-center">
                    <button class="countdown button button-stable">
                      {{#with getCountDown}}
                        {{countDownValue}}
                      {{/with}}
                    </button>
                  </div>
                </div><!-- Infos -->
                <div class="row">
                  <div class="col places">
                    <div class="list">
                      {{#each activeCarsByAmount}}
                        <div class="item item-thumbnail-left"><!-- item -->
                          <img src="/img/cars/{{image}}" class="preview" />
                          <!-- <h2>Backery</h2> -->
                          <span class="badge badge-assertive">
                            {{amount}} x &nbsp;<i class="icon ion-man"></i>
                          </span>
                        </div><!-- item -->
                      {{/each}}
                    </div>
                  </div>
                </div>
            </div>
            <div class="col places"><!-- Missions -->
              <div class="list">
                {{#each getPlacesOrder}}
                  <div class="item item-thumbnail-left"><!-- item -->
                    {{#with trackConfig}}
                      <img src="/{{publicDirectory}}/{{../image}}">
                    {{/with}}
                    <!-- <h2>Backery</h2> -->
                    <span class="badge badge-assertive">
                      {{placeValue}} x &nbsp;<i class="icon ion-man"></i>
                    </span>
                  </div><!-- item -->
                {{/each}}
              </div>
            </div><!-- Missions -->
          </div>
          {{/if}}
          <!-- /game -->
          <div class="item item-divider">
            Disabled cars
          </div>
          {{#each disabledCars}}
          <div class="card">
            <div class="row">
              <div class="col col-80">
                <div class="item item-avatar">
                  <img src="/img/cars/{{image}}" class="preview" />
                  <h2>{{name}}</h2>
                  <p>{{cid}}</p>
                </div>
              </div>
              <div class="col col-20">
                <button class="button button-block icon ion-gear-a button-calm" data-ion-modal="carEdit" data-cid="{{cid}}"></button>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>

   {{/ionContent}}
  {{/ionView}}
</template>
