<template name="confGame">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="{{pathFor route='index'}}" text="Back"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Game configuration</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button icon ion-navicon" data-ion-popover="menuPopover"></button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="card">
        {{#if isGame1}}
          {{#with game1}}
            <label class="item item-input">
              <span class="input-label">Time </span>
              <input id="time-game1" type="text" name="time-game1" value="{{countDownLength}}">
            </label>
            <div class="row">
              <div class="col"><button class="game1 button button-block icon ion-android-archive button-calm" ></button></div>
            </div>
          {{/with}}
        {{/if}}
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
