<template name="connectArduino">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="{{pathFor route='index'}}" text="Back"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Connect to Bridge</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button icon ion-navicon" data-ion-popover="menuPopover"></button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="card">
        <!-- {{#each serialPorts}} -->
        <div class="item ">
          {{serialPorts.value}}
        </div>
        <!-- {{/each}} -->
      </div>
      <div class="row">
        <div class="col col-center "><button class="button button-block icon ion-android-refresh button-calm refresh-serial-ports"></button></div>
        <div class="col col-center "><button class="button button-block icon ion-usb button-calm connect-serial-port">Connect</button></div>
        <div class="col col-center "><button class="button button-block icon button-calm ping">Ping</button></div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
