<template name="index">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Home</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button icon ion-navicon" data-ion-popover="menuPopover"></button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="card">
        <div class="item ">
          Home
        </div>
      </div>  

    {{/ionContent}}
  {{/ionView}}    
</template>