<head>
  <title>PathDriver App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>

</body>


<template name="layout">
{{#ionBody}}
  {{> ionNavBar class="bar-positive"}}
  {{#ionNavView}}
    {{> yield}}
  {{/ionNavView}}
{{/ionBody}}
</template>


<template name="menuPopover">
 {{#ionPopover}}
    <div class="content">
      <div class="list">
        <a class="item ion-android-car popover-backdrop" href="{{pathFor route='carsList'}}">
          Cars list
        </a>
        <a class="item ion-usb popover-backdrop" href="{{pathFor route='connectArduino'}}">
          Connect to bridge
        </a>
        <a class="item ion-gear-a popover-backdrop" href="{{pathFor route='trackConfiguration'}}">
          Track configuration
        </a>
        <!-- <a class="item ion-gear-a popover-backdrop" href="{{pathFor route='confGame'}}">
          Game configuration
        </a> -->
        <a class="item ion-clipboard popover-backdrop" href="{{pathFor route='log'}}">
          Log
        </a>
      </div>
    </div>
  {{/ionPopover}}
</template>
