<template name="log">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="{{pathFor route='index'}}" text="Back"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Log</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button icon ion-navicon" data-ion-popover="menuPopover"></button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="card">
        <button class="delete-all button button-block icon ion-backspace button-assertive">

        </button>
        
        <ul class="list">
          {{#each getAllLog}}
            <li class="item">
              {{value}}
              <span class="item-note">
                {{createdAt}}
              </span>
            </li>
          {{/each}}
        </ul>

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
