<template name="trackExport">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">Track export/import</h2>
    </div>
    {{#with jsonTrackCode}}
    <div class="content has-header has-footer overflow-scroll">
      <!-- <form class="track-export"> -->
        <label class="item item-input">
          <textarea class="track" rows="10" placeholder="track code">{{json}}</textarea>
        </label>
        <div class="row">
          <div class="col col-50">
            <button class="upload button button-block icon ion-ios-upload button-calm" ></button>
          </div>
          <div class="col col-50">
            <button data-dismiss="modal" class="button button-block icon ion-arrow-return-left button-calm" ></button>
          </div>

        </div>
      <!-- </form> -->
    </div>
    {{/with}}
  {{/ionModal}}
</template>
