<template name="trackConfiguration">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="{{pathFor route='index'}}" text="Back"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Track configuration</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button icon ion-navicon" data-ion-popover="menuPopover"></button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#each trackConfig}}
        <div class="list card">
          <div class="item item-button-right">
            <h2>{{name}}</h2>
            <!-- <button class="download button icon ion-ios-download button-positive ">
            </button> -->
            <button class="button button-calm icon ion-ios-download" data-ion-modal="trackExport">
              <!-- ion-ios-checkmark-outline -->
            </button>

          </div>
          <div class="item item-body track">
            <img class="full-image " src="/{{publicDirectory}}/{{imageName}}">
          </div>
        </div>
        <div class="list card">
        {{#each trackSteps}}
          <div class="card">
            <div class="item item-divider">
              {{name}} (<span class="assertive">{{rid}}</span>)
            </div>
          <div class="row">
            <div class="col col-10">
            {{#if icon}}
              <i class="icon {{icon}}"></i>
            {{else}}
              <div class="item item-thumbnail-left">
                <img src="/{{../publicDirectory}}/{{image}}" class="preview">
              </div>
            {{/if}}
            </div>
            <div class="col col-20">
            {{#each buttons}}
            <button class="button icon {{icon}} button-large {{#if select}} button-outline {{/if}} button-positive ">
            </button>
            {{/each}}
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <button class="rfid-update button icon ion-compose button-large {{#if wait}} button-outline {{/if}} button-positive  ">
                  </button>
                  <p class="assertive">RID : {{rid}}</p>
                </div>
                <!-- Place -->
                <div class="col">
                  <ul class="list">
                    <li class="item item-checkbox">
                       <label class="checkbox">
                         {{#if place}}
                           <input type="checkbox" checked="checked" >
                         {{else}}
                           <input type="checkbox">
                         {{/if}}
                       </label>
                       Place
                    </li>
                    <li class="item item-checkbox">
                      <label class="checkbox">
                        {{#if cross}}
                          <input type="checkbox" checked="checked" >
                        {{else}}
                          <input type="checkbox">
                        {{/if}}
                      </label>
                      Cross road
                    </li>
                    <li class="item item-checkbox">
                      <label class="checkbox">
                        {{#if crossend}}
                          <input type="checkbox" checked="checked" >
                        {{else}}
                          <input type="checkbox" >
                        {{/if}}
                      </label>
                      End cross road
                    </li>
                    <!--
                    <li class="item item-checkbox">
                      <label class="item item-input">
                        <span class="input-label">Speed (0-6)</span>
                        <input type="text" placeholder="Speed" name="speed" value="{{speed}}">
                      </label>
                    </li>
                    -->
                    {{#if roadsign}}
                    <li class="item item-checkbox">
                      <label class="item item-input">
                        <span class="input-label">Road sign</span>
                        <input type="text" placeholder="None" name="roadsign" value="{{roadsign}}">
                      </label>
                    </li>
                    {{/if}}
                  </ul>
                </div>
                <!-- Place -->
                <!-- Lights -->
                <div class="col">
                  <ul class="list">
                    <li class="item item-checkbox">
                       <label class="checkbox">
                         {{#if lightOn}}
                           <input type="checkbox" checked="checked" >
                         {{else}}
                           <input type="checkbox">
                         {{/if}}
                       </label>
                       Light On
                    </li>
                    <li class="item item-checkbox">
                       <label class="checkbox">
                         {{#if lightOff}}
                           <input type="checkbox" checked="checked" >
                         {{else}}
                           <input type="checkbox">
                         {{/if}}
                       </label>
                       Light Off
                    </li>
                    <li class="item item-checkbox">
                       <label class="checkbox">
                         {{#if turnSignalROn}}
                           <input type="checkbox" checked="checked" >
                         {{else}}
                           <input type="checkbox">
                         {{/if}}
                       </label>
                       Turn signal right
                    </li>
                    <li class="item item-checkbox">
                       <label class="checkbox">
                         {{#if turnSignalLOn}}
                           <input type="checkbox" checked="checked" >
                         {{else}}
                           <input type="checkbox">
                         {{/if}}
                       </label>
                       Turn signal left
                    </li>
                    <li class="item item-checkbox">
                       <label class="checkbox">
                         {{#if turnSignalOff}}
                           <input type="checkbox" checked="checked" >
                         {{else}}
                           <input type="checkbox">
                         {{/if}}
                       </label>
                       Turn signal off
                    </li>
                  </ul>
                </div>
                <!-- lights -->
              </div><!--Row-->
            </div>
          </div><!--row-->
          <div class="item item-divider">
            {{#each next}}
              <span class="item-note {{#if select}} positive {{/if}}">{{value}} => {{rid}} &nbsp;</span>
            {{/each}}
          </div>
          </div><!--card-->
        {{/each}}
        </div>
      {{/each}}
    {{/ionContent}}
  {{/ionView}}
</template>
